@model GetTourByIdDto
<div class="tab-pane fade show active" id="pills-information" role="tabpanel"
     aria-labelledby="pills-information-tab" tabindex="0">
    <div class="row mb-50">
        <div class="col-lg-12">
            <div class="inner-heading-wrap flex-two">
                <div class="inner-heading">
                    <span class="feature">@Model.Badge</span>
                    <h2 class="title">@Model.Title</h2>
                    <ul class="flex-three list-wrap-heading">
                        <li class="flex-three">
                            <i class="icon-time-left"></i>
                            <span>@Model.DayCount</span>
                        </li>
                        <li class="flex-three">
                            <i class="icon-user"></i>
                            <span>Maksimum Kapasite: @Model.Capacity</span>
                        </li>
                        <li class="flex-three">
                            <i class="icon-18"></i>
                            <span>@Model.Location</span>
                        </li>


                    </ul>

                </div>
                <div class="inner-price">
                    <div class="flex-three">
                        <div class="start">
                            <i class="icon-Star"></i>
                            <i class="icon-Star"></i>
                            <i class="icon-Star"></i>
                            <i class="icon-Star"></i>
                            <i class="icon-Star"></i>
                        </div>
                        <span class="review">(1 Review)</span>
                    </div>
                    <p class="price-sale text-main">
                        @Model.Price $
                        <span class="price">
                            @(Model.Price + Model.Price * 20 / 100) $
                        </span>
                    </p>
                </div>

            </div>

        </div>
    </div>
    <div class="row mb-40 image-gallery-single">
        <div class="col-12 col-sm-6">
            <img src="@Model.CoverImageUrl" alt="image">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="information-content-tour">
                <div class="description-wrap mb-40">
                    <span class="description">Description:</span>
                    <p class="des">
                        @Model.Description
                    </p>
                </div>


                <div class="expect-wrap mb-70">
                    <h4 class="title mb-18">What to Expect</h4>
                    <div class="expect flex-three">
                        <span>Departure/Return Location</span>
                        <p>2 Taijichang St, Dongcheng Qu, Beijing Shi, China</p>
                    </div>
                    <div class="expect flex-three">
                        <span>Departure Time</span>
                        <p>Please arrive by 9:15 AM for a departure at 9:30 AM</p>
                    </div>
                    <div class="expect flex-three">
                        <span>Return Time</span>
                        <p>Approximately 8:30 PM</p>
                    </div>
                   
                </div>


            </div>
            @await Component.InvokeAsync("_TourAmenitiesComponentPartial")
        </div>
        @await Component.InvokeAsync("_TourRightSidebarComponentPartial")

    </div>

</div>